---
const portfolios = [
  {
    title: "Aksiberbagi.com",
    category: "Donasi Online",
    image: "/assets/img/porto/1.png",
    link: "https://aksiberbagi.com/",
  },
  {
    title: "Beramalbersama.com",
    category: "Donasi Online",
    image: "/assets/img/porto/2.png",
    link: "https://beramalbersama.com/",
  },
  
];
---

<section class="portfolio-three">
  <div class="container">
    <div class="sec-title-four text-center">
      <div class="sub-title">
        <h4>Our Portfolio</h4>
      </div>
      <h2>Our Recent Works</h2>
    </div>

    <div class="row justify-content-center">
      {portfolios.map((item) => (
        <div class="col-xl-4 col-lg-6 col-md-6">
          <div class="portfolio-three__single text-center">
            
            <!-- Image -->
            <div class="portfolio-three__img">
              <img src={item.image} alt={item.title} />
            </div>

            <!-- Content -->
            <div class="portfolio-three__content">
              <h3>{item.title}</h3>
              <p>{item.category}</p>

              <a href={item.link} target="_blank" class="portfolio-btn">
                Visit Website
                  <i class="icon-next"></i>

              </a>
            </div>

          </div>
        </div>
      ))}
    </div>
  </div>
</section>
