---
const services = [
  {
    title: "Performance Digital Marketing Ads and Consultant",
    desc: "Scale up bisnis dengan strategi iklan yang terukur dengan data-driven approaches",
    href: "web-development.html",
    icon: "icon-design-strategy1",
    delay: "0ms",
    animation: "fadeInLeft",
  },

  {
    title: "Content Creative and Social Media Management",
    desc: "Optimalkan kualitas konten iklan dan social media dengan goal yang clear dan terukur",
    href: "web-development.html",
    icon: "icon-digital-marketing",
    delay: "200ms",
    animation: "fadeInLeft",
  },
    {
    title: "Website Development",
    desc: "Tampil Lebih Profesional dengan Website yang dibuat sesuai kebutuhan brand",
    href: "web-development.html",
    icon: "icon-web-development2",
    delay: "100ms",
    animation: "fadeInRight",
  },
];
---

<section class="service-three" id="services">
  <div class="service-three__shape1 float-bob-x">
    <img src="/assets/img/shape/service-three__shape1.png" alt="shapes" />
  </div>
  <div class="service-three__shape2">
    <img src="/assets/img/shape/service-three__shape2.png" alt="shapes" />
  </div>
  <div class="service-three__shape3 float-bob-y">
    <img src="/assets/img/shape/service-three__shape3.png" alt="shapes" />
  </div>

  <div class="container">
    <div class="sec-title-three text-center">
      <div class="sub-title">
        <h4>Our Services</h4>
      </div>
      <h2>What We Offer For You</h2>
    </div>

    <div class="row justify-content-md-center">
      {services.map((service) => (
        <div
          class={`col-xl-4 col-lg-6 col-md-6 wow ${service.animation}`}
          data-wow-delay={service.delay}
          data-wow-duration="1500ms"
        >
          <div class="service-three__single">
             <div class="service-three__single-icon">
            <span class="icon-web-development2"
              ><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span
                class="path5"></span><span class="path6"></span><span
                class="path7"></span>
            </span>
          </div>

            <div class="service-three__single-content">
              <div class="title">
                <h3>
                  <a href={service.href}>{service.title}</a>
                </h3>
              </div>

              <div class="text">
                <p>{service.desc}</p>
              </div>

              <!-- 🔥 Button Baru -->
              <div class="service-three__btn mt-3">
                 <a class="thm-btn border" href={service.href}>
                <span class="txt" style="font-size: 16px; ">
                  Pelajari Selanjutnya
                  <i class="icon-next"></i>
                </span>
              </a>
              </div>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>

